@font-face
  font-family: "Museo Sans"
  src: url('../fonts/museo.ttf')

$blue: #0000FF
$green: #00D2A3
$whitish: #DDFFF7

body
  font-family: 'Museo Sans', sans-serif
  height: 100vh
  background-color: #FF0000
  color: #EFDEDE

.wrapper
  height: 80vh

.header:hover
  -webkit-transform: scaleY(-1)
  transform: scaleY(-1)

.contact-wrapper
  text-align: center
  .contact
    font-size: 50px
    color: #EFDEDE
    &:hover
      text-decoration: none
      color: #FFFF00

h2
  font-size: 50px

@media (max-width: 500px)
  h2
    font-size: 35px
  .content
    max-width: 100%
    overflow-x: hidden
