 .home-body {
  background: no-repeat center center fixed;
  background-color: #66C3FF;
  width:100%;
  background-size: cover;
  height:70vh;
  padding-top: 20px;
 }

 a {
  text-decoration: none;
  color: #416788;
 }

 a:hover {
  text-decoration: none;
 }
#links {
 font-size: 15px;
 color: white;
}

p {
 text-align: center;
 font-family: 'Open Sans', serif;
 font-size: 20px;
 display: inline-block;
}
a {
 color: white;
}

h1 {
 font-size: 60px;
 font-family: 'Montserrat', serif;
 color: white;
}
h3 {
 font-family: 'Raleway', serif;
}
.blog {
 color: #555;

}
.project-text {
 text-align: center;
}

#home {
 width: 100%;
text-align: center;
}

#me {
 border-radius: 50%;
 width: 200px;
 border: 4px solid white;
 padding: 4px;
}

ul {
 list-style-type: none;
 margin-right: 140px;
}

li {
 display: inline-block;
 margin: 10px;
}
.screenshot {
 width: 900px;
 margin: 0 auto;
}
h2 {
 padding-top: 10px;
 color: #9B9B9B;
 font-size: 50px;
 text-align: center;
 font-family: 'Montserrat', serif;
}
.card {
 width: 90%;
}

#daytripprr {
 background-color: #eeeeee;
 height: 100vh;
}
#ubercart {
 height: 100vh;
 background-color: #DCE1E9;
}

.sc {
 width: 60%;
 margin: 0 auto;
}
@media screen and (max-width:800px){
 .daytripprr {
  width: 80%;
 }
#daytripprr {
 height: 50vh;
}
#ubercart {
 height: 50vh;
}
}
