/* general */
  .container-fluid {
   padding: 0;
  }

  body {
   width: 90%;
   margin: 0 auto;
   background: url('http://i.imgur.com/agM88Ma.png') repeat center center fixed;
  }

  a {
   color: #006989;
  }

  a:hover {
   text-decoration: none;
   color: #d3d3d3;
  }
  #home {
    margin-top: 100px;
  }

  .img-fluid {
   width: 100%;
  }

/* typography */
  h1,h3,h4  {
   font-family: 'Raleway', serif;
  }
  h1 {
    font-size: 7em;
    font-family: 'Lato';
    font-weight: 700;
  }

  h3 {
   text-align: center;
   color: #95A3A4;
  }

  h4 {
   text-align: center;
  }
  p {
   font-family: 'Open Sans', serif;
   text-align: center;
   color: #565554;
  }

/* nav */
  .navbar {
    margin: 20px 0 0 20px;
  }
  .nav-link, .nav-item {
   color: #1A1A1A;
   font-family: 'Cabin', serif;
   margin-top: 3px;
   padding: 0;
   font-size: 1.1em;
  }
  .nav-link:hover {
   color: #d3d3d3;
  }

  .fa-2x {
   padding: 0;
  }

/* about me */
  #botdotme {
    font-family: 'Montserrat', serif;
  }
  #about-me {
   padding: 15px 50px;
   letter-spacing: 1%;
  }

  .me-img {
   width: 80%;
   border-radius: 50%;
   margin: 20px auto;
   border: 6px #373a3c solid;
  }
  #about {
   font-family: 'Open Sans', serif;
   font-size: 2em;
   text-align: left;
   color: black;
  }

/* projects */
  #projects {
   margin-top: 10%;
  }


  .card {
   width: 100%;
   min-height: 320px;
   border: none;
   border-radius: 4%;

  }

  #ud,#uc,#dayt, #bot {
    font-size: 3em;
  }
  .updog {
    background-color: #EFD2CB;
  }

  #bot {
   font-family: 'Montserrat', serif;
   color: white;
   font-weight: 700;
  }
  .botme {
    background-color: #BE10E1;
  }
  .bot-img {
    width: 60%;
    margin: 0 auto;
  }

  #ud {
   font-family: 'Montserrat', serif;
   color: white;
   font-weight: 700;
  }
  #uc {
   color: white;
   font-family: 'Montserrat', serif;
  }

  #ubercart {
    background-color: #028090;
  }

  .daytrip {
    background-color: #50E3C2;
  }
   #dayt {
   font-family: 'Amatic SC',cursive;
   color: white;
    }

  .project-text {
    color: white;
    font-size: 1.3em; 
  }

  /* media queries */
  @media screen and (max-width: 800px){
    h1 {
      font-size: 6em;
    }
  }

  @media screen and (max-width: 600px){
    h1 {
      font-size: 5em;
    }
  }
