 body {
 background: url(https://images.unsplash.com/photo-1437422061949-f6efbde0a471?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=be5aba2aabc25bfb9ccf5edd82a932a4) no-repeat center center fixed;
  margin: 20px 0px 0 0px;
  position:absolute;
  width:100%;
  z-index:100;
  left:0;
  background-size: cover;
  margin-top: 50px;
 }

 a {
  text-decoration: none;
  color: #416788;
 }
 a:hover {
  text-decoration: none;
 }
#links {
 font-size: 15px;
}
p {
 display: inline-block;
}
h1 {
 margin-top: -30px;
 font-size:210px;
 font-family: 'Raleway', serif;
 color: #d3d3d3;
 display: inline;
}
h3 {
 font-family: 'Raleway', serif;
}
.blog {
 color: #d3d3d3;

}


#home {
 width: 100%;
text-align: center;
}

#me {
 border-radius: 50%;
 width: 200px;
 margin-bottom: 150px;
}

ul {
 list-style-type: none;
 margin-right: 140px;
}

li {
 display: inline-block;
 margin: 10px;
}

@media screen and (max-width:800px){
 h1 {
  font-size: 140px;
 }
}
