@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
html, body {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: hidden; }

body {
  background-image: url("https://d3ab9omd0xmpv4.cloudfront.net/attachments/media/5910/processed/chance_bg_black.medium.jpg?1477621332508");
  background-position: center center;
  background-size: cover; }

a {
  text-decoration: none;
}
.btn {
  background-color: #fc0000;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  padding: 0.75em 6em;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 6px 6px #000000; }
  .btn.btn-next {
    display: none; }

.hulu {
  color: #8ebb36;
  text-decoration: none; }

.bold {
  font-weight: 700;
  color: black;}

.card {
  background-color: #fff;
  z-index: 1000; }
  .card .card-header {
    border-bottom: 4px solid #fc0000;
    display: block;
    padding: 0.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem; }
    .card .card-header p {
      margin-left: 30px;
      margin-bottom: 30px;
      width: 300px;
      font-weight: 500;
      font-family: "open-sans-condensed";
      letter-spacing: 1px; }
  .card .card-block {
    padding: 0.5em;
    margin: 15px 30px;
    font-size: 14px;
    font-family: "proxima-nova", sans-serif;
    color: #747474;
  }
    .card .card-block .source {
      font-size: 1rem;
      color: #acacac;
      font-style: italic;
      margin-left: 80%; }
    .card .card-block .source-1{
      font-size: 1rem;
      color: #acacac;
      font-style: italic;
      margin-left: 60%; }
    .card .card-block .source.a {
      font-size: 1rem;
      color: #acacac;
      font-style: italic;
      margin-left: 80%; }
  .card.card-text {
    width: 300px; }
  .card.card-image {
    width: 400px; }
  .card.card-video, .card.card-video-1, .card.card-video-2, .card.card-video-3, .card.card-video-4 {
    width: 400px; }
    .card.card-video .card-header, .card.card-video-1 .card-header, .card.card-video-2 .card-header, .card.card-video-3 .card-header, .card.card-video-4 .card-header {
      padding: 0; }
    .card.card-video .video, .card.card-video-1 .video, .card.card-video-2 .video, .card.card-video-3 .video, .card.card-video-4 .video {
      width: 100%;
      padding: 0px;
      margin-bottom: -6px; }
  .card.card-video-1 .card-footer {
    background-color: black;
    color: white;
    padding: 0.25rem;
    font-size: 1.2rem;
    font-style: italic; }
    .card.card-video-1 .card-footer .author {
      text-align: right;
      font-size: 1rem;
      font-style: normal; }
  .card.card-video-1, .card.card-video {
    font-size: 1rem; }
    .card.card-video-1 .card-block, .card.card-video .card-block {
      padding: 5%; }
    .card.card-video-1 .card-header p, .card.card-video .card-header p {
      position: absolute;
      top: 32%;
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      width: 200px;
      margin-left: 10px; }
  .card.card-video .card-header p {
    position: absolute;
    top: 35%; }
  .card.card-video-3 .card-header p {
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 10%;
    font-weight: 700; }
  .card.card-video-4 {
    width: 450px; }
    .card.card-video-4 p {
      position: absolute;
      top: 45%;
      left: 5%;
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      width: 200px;
      margin-left: 10px; }
  .card.card-text-skinny {
    width: 350px; }
  .card .red {
    color: #fc0000; }

.slider-container {
  background-image: url("http://i.imgur.com/A7vwlQq.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .slider-container .brain {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; }
    .slider-container .brain.brain-1 {
      background-image: url("http://i.imgur.com/B2Ua8Nc.png"); }
    .slider-container .brain.brain-2 {
      background-image: url("http://i.imgur.com/MkuzIo5.png"); }
    .slider-container .brain.brain-3 {
      background-image: url("http://i.imgur.com/pfj4W9a.png"); }
    .slider-container .brain.brain-4 {
      background-image: url("http://i.imgur.com/aC3j1y2.png"); }
    .slider-container .brain.brain-5 {
      background-image: url("http://i.imgur.com/5Mt28Vg.png"); }
    .slider-container .brain.brain-6 {
      background-image: url("http://i.imgur.com/z96g51Z.png"); }
    .slider-container .brain.brain-7 {
      background-image: url("http://i.imgur.com/unHScAS.png"); }

.slides .content {
  position: relative;
  overflow: hidden;
  padding: 2rem; }

#green-logo {
  width:  170px;
  display: inline-block;
}

.hulu-button {
  position: fixed;
  top: 85vh;
  right: 0;
  z-index: 10;
  background-color: black;
  padding: .5rem; }

.scroll-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.125rem;
  z-index:999;
  color: white;
  text-align: center;
  position: fixed;
  top: 90vh;
  left: 49%; }

.flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);

}
.scroll-text:hover {
  cursor: pointer;
}

.display-none {
  display: none; }

#trailer {
  width: 100%; }

#trailer_html5_api, .vjs-control-bar {
  width: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.flexslider {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  margin-bottom: 0; }
  .flexslider .flex-control-nav {
    heigth: 50%;
    top: 25%;
    right: 10px;
    width: 20px; }
  .flexslider .flex-control-paging li a {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    min-height: 50px;
    width: 6px;
    margin-bottom: 3px; }
    .flexslider .flex-control-paging li a.flex-active {
      background-color: red; }
  .flexslider .slide {
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center; }
    .flexslider .slide h1 {
      text-transform: uppercase;
      font-size: 60px;
      margin: 1rem 0;
      padding: 0;
      font-family: "open-sans-condensed"; }
    .flexslider .slide p {
      font-size: 1.5rem;
      margin: 2rem 0;
      letter-spacing: 1px;
      font-family: "proxima-nova", sans-serif; }

#logo {
  margin-top: 7%;
  width: 50%; }
  .flexslider .slides .slide {
    background: transparent;
  }
.card.card-video-1 .card-header p, .card.card-video .card-header p {
    position: absolute;
    top: 20%;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    width: 200px;
    margin-left: 30px;
}
  .card.card-video .card-header p {
      position: absolute;
      top: 32%;
  }
  .card.card-video-0 .card-header p {
      position: absolute;
      top: 25%;
      width: 80%;
  }
  .card.card-video-3 .card-header p {
      position: absolute;
      top: 40%;
      width: 80%;
  }
  .card-video-quote {
    font-style: italic;
  }


  .card .card-block {
      padding: 0.5em;
      margin: 20px 10px;
    }
  .card.card-video-1 .card-footer {
      background-color: black;
      color: white;
      padding: 0.5rem 1.5rem;
      font-size: 1.2rem;
      font-style: italic;
      font-family: "open-sans-condensed";
  }

.beacon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 0, 0, 0.75);
  height: 3em;
  width: 3em;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%); }
  .beacon:before {
    position: absolute;
    content: "";
    height: 3em;
    width: 3em;
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.75);
    -webkit-animation: active 2s infinite linear;
    animation: active 2s infinite linear; }

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 1; }
  70% {
    -webkit-transform: scale(2.5);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes active {
  0% {
    transform: scale(0.1);
    opacity: 1; }
  70% {
    transform: scale(2.5);
    opacity: 0; }
  100% {
    opacity: 0; } }
@media (max-width: 768px) {
  #trailer_html5_api {
    top: 30%; }

  .hulu-button {
    position: fixed;
    top: 80vh; }

  .scroll-text {
    display: none; }

  .card {
    display: block;
    left: 0 !important;
    width: 100% !important;
    position: relative;
    top: 25% !important;
    overflow: scroll !important; }
    .card.card-video .card-header p {
      position: absolute;
      top: 23%; }
    .card.card-video-1 .card-header p {
      position: absolute;
      top: 10%; }
    .card.card-video-4 {
      width: 450px; }
      .card.card-video-4 p {
        position: absolute;
        top: 18%; }
    .card .card-block {
      overflow: scroll !important;
     }
    .card .card-footer {
      padding: 0.5rem; }
    .card.card-image {
      top: 50% !important; }

  .flex-control-nav {
    display: none; }

  .slider-container {
    background-position: top center;
    background-size: contain;
    margin-bottom: 50%; }
    .slider-container .brain {
      background-position: top center;
      background-size: contain; }

  .btn.btn-next {
    border-radius: 0;
    display: block;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    text-align: center;
    line-height: 50px; }

  #page-2 .beacon {
    position: absolute;
    top: 26% !important;
    left: 10% !important; }

  #page-9 h1 {
    font-size: 32px; }

  #logo {
    width: 60%; } }
